{% extends "base.html" %}
{% block title %}
Account details
{% endblock %}

{% block content %}
<br/>
<br/>
<h1 align="center" style="color: black; font-family: monospace; font-size: 40px;">Account details</h1>
<br/>
<br/>

<ul class="list-group">
    <label style="color: black; font-family: monospace; font-size: 20px;">Email</label>
    <li class="list-group-item" style="color: black; font-family: monospace; font-size: 20px; background-color: whitesmoke; border-color: transparent;">{{user.email}}</li>
    <br>


    <label style="color: black; font-family: monospace; font-size: 20px;">First name</label>
    <li class="list-group-item" style="color: black; font-family: monospace; font-size: 20px; background-color: whitesmoke; border-color: transparent;">{{user.first_name}}</li>
    <br>

    <label style="color: black; font-family: monospace; font-size: 20px;">Last name</label>
    <li class="list-group-item" style="color: black; font-family: monospace; font-size: 20px; background-color: whitesmoke; border-color: transparent;">{{user.last_name}}</li>
    <br>

</ul>


{% endblock %}