{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %}

{% block content %}
<br />
<br />
<h3 align="center" style="color: black; font-family: monospace; font-size: 40px;">New to QuizApp?</h3>
<br />

<form method="POST">
    <h2 align="center">Sign Up</h2>
    <div class="form-group">
        <label for="email" style="color: black; font-family: monospace; font-size: 15px;">Email address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="example@domain.com"
        />
    </div>

    <div class="form-group">
        <label for="firstName" style="color: black; font-family: monospace; font-size: 15px;">First name</label>
        <input 
            type="text" 
            class="form-control" 
            id="firstName" 
            name="firstName" 
            placeholder="First name"
        />
    </div>

    <div class="form-group">
        <label for="lastName" style="color: black; font-family: monospace; font-size: 15px;">Last name</label>
        <input 
            type="text" 
            class="form-control" 
            id="lastName" 
            name="lastName" 
            placeholder="Last name"
        />
    </div>

    <div class="form-group">
        <label for="password1" style="color: black; font-family: monospace; font-size: 15px;">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password1" 
            name="password1" 
            placeholder="Password"
        />
    </div>

    <div class="form-group">
        <label for="password2" style="color: black; font-family: monospace; font-size: 15px;">Password (confirmation)</label>
        <input 
            type="password" 
            class="form-control" 
            id="password2" 
            name="password2" 
            placeholder="Confirm password"
        />
    </div>

    <br />
    <button type="submit" class="btn btn-dark btn-block" style="color:white; font-family: monospace; font-size: 15px;">Submit</button>

</form>

{% endblock %}
